kind=defined
names=getsockname
visibility=public

--- getsockname -> String

ソケットの情報を取得します。sockaddr 構造体をパックした
文字列を返します。[[man:getsockname(2)]] を参照してください。

例:

  serv = TCPServer.open("", 0)
  p serv.getsockname        #=> "\002\000\236C\000\000\000\000\000\000\000\000\000\000\000\000"
  p Socket.unpack_sockaddr_in(serv.getsockname)     #=> [40515, "0.0.0.0"]
  c = TCPSocket.open(*Socket.unpack_sockaddr_in(serv.getsockname).reverse)
  s = serv.accept

