kind=defined
names=recv_nonblock
visibility=public

--- recv_nonblock(maxlen, flags = 0) -> String

ソケットをノンブロッキングモードに設定した後、
[[man:recvfrom(2)]] でソケットからデータを受け取ります。

引数、返り値は [[m:BasicSocket#recv]] と同じです。

[[man:recvfrom(2)]] がエラーになった場合、
EAGAIN, EINTR を含め例外 [[c:Errno::EXXX]] が発生します。

@param maxlen 受け取る文字列の最大の長さを指定します。

@param flags [[man:recv(2)]] を参照してください。

@raise IOError

@raise Errno::EXXX [[man:recvfrom(2)]] がエラーになった場合などに発生します。


