kind=defined
names=send
visibility=public

--- send(mesg, flags, dest_sockaddr = nil) -> Fixnum

ソケットを介してデータを送ります。flags に関しては
[[man:send(2)]] を参照してください。connect していないソケット
に対しては送り先である dest_sockaddr を指定する必要があります。実際に送っ
たデータの長さを返します。

dest_sockaddr には「ソケットアドレス構造体を pack した文字列」
を指定します。

データの送信に失敗した場合は例外 [[c:Errno::EXXX]] が発生します。

@param mesg       送信するデータを文字列で指定します。

@param flags      [[man:send(2)]] の flags を参照してください。

@param dest_sockaddr  「ソケットアドレス構造体を pack した文字列」を指定します。

@raise Errno::EXXX データの送信に失敗した場合に発生します。

例:

  s = UDPSocket.new
  sockaddr = Socket.sockaddr_in("discard", "localhost")
  s.send("The king has donkey ears!", 0, sockaddr)

