kind=defined
names=for_fd
visibility=public

--- for_fd(fd) -> Object

ファイルディスクリプタ fd に対する新しいソケットを生成します。
このメソッドは [[c:Socket]] クラスからこのクラスに移動しました。
これにより、任意のソケットである fd から対応するソケッ
トクラスを作ることができます。

@param   fd ファイルディスクリプタ を指定します。

@return  任意のソケットである fd から対応するソケットクラスを作り、それを返します。


