!.gitkeep

*.elc
ac-comphist.dat
recentf
tramp

/auto-save-list
/backup
/history
/trash
/undohist
/url
/var

# /elisp/el-get/*
# !/elisp/el-get/.loaddefs.el
# !/elisp/el-get/.loaddefs.elc
# !/elisp/el-get/.status.el
# !/elisp/el-get/.status.elc

projectile-bookmarks.eld
