!.gitkeep

*.elc
ac-comphist.dat

/auto-save-list
/backup
/history
/tramp
/trash
/undohist
/url
/var

/elisp/el-get/*
!/elisp/el-get/.loaddefs.el
!/elisp/el-get/.loaddefs.elc
!/elisp/el-get/.status.el
!/elisp/el-get/.status.elc

projectile.cache
projectile-bookmarks.eld
