kind=defined
names=INADDR_ALLHOSTS_GROUP,INADDR_ANY,INADDR_BROADCAST,INADDR_LOOPBACK,INADDR_MAX_LOCAL_GROUP,INADDR_NONE,INADDR_UNSPEC_GROUP
visibility=public

--- INADDR_ALLHOSTS_GROUP
--- INADDR_ANY
--- INADDR_BROADCAST
--- INADDR_LOOPBACK
--- INADDR_MAX_LOCAL_GROUP
--- INADDR_NONE
--- INADDR_UNSPEC_GROUP


