kind=defined
names=PF_APPLETALK,PF_ATM,PF_AX25,PF_CCITT,PF_CHAOS,PF_CNT,PF_COIP,PF_DATAKIT,PF_DEC,PF_DLI,PF_ECMA,PF_HYLINK,PF_IMPLINK,PF_INET,PF_INET6,PF_IPX,PF_ISDN,PF_ISO,PF_KEY,PF_LAT,PF_LINK,PF_LOCAL,PF_MAX,PF_NATM,PF_NDRV,PF_NETBIOS,PF_NETGRAPH,PF_NS,PF_OSI,PF_PIP,PF_PPP,PF_PUP,PF_ROUTE,PF_RTIP,PF_SIP,PF_SNA,PF_SYSTEM,PF_UNIX,PF_UNSPEC,PF_XTP
visibility=public

--- PF_APPLETALK
--- PF_ATM
--- PF_AX25
--- PF_CCITT
--- PF_CHAOS
--- PF_CNT
--- PF_COIP
--- PF_DATAKIT
--- PF_DEC
--- PF_DLI
--- PF_ECMA
--- PF_HYLINK
--- PF_IMPLINK
--- PF_INET
--- PF_INET6
--- PF_IPX
--- PF_ISDN
--- PF_ISO
--- PF_KEY
--- PF_LAT
--- PF_LINK
--- PF_LOCAL
--- PF_MAX
--- PF_NATM
--- PF_NDRV
--- PF_NETBIOS
--- PF_NETGRAPH
--- PF_NS
--- PF_OSI
--- PF_PIP
--- PF_PPP
--- PF_PUP
--- PF_ROUTE
--- PF_RTIP
--- PF_SIP
--- PF_SNA
--- PF_SYSTEM
--- PF_UNIX
--- PF_UNSPEC
--- PF_XTP

プロトコルファミリー:
[[m:Socket.open]] の第三引数 protocol に使用します。

