kind=defined
names=sysaccept
visibility=public

--- sysaccept -> Fixnum

接続したクライアントのソケットをファイル記述子で返すことを除けば
[[m:TCPServer#accept]] と同じです。

例:

  TCPServer.open("", 0) {|serv|
    c = TCPSocket.new(*serv.addr.values_at(3,1))
    p serv.sysaccept        #=> 6
  }
