kind=defined
names=new,open
visibility=public

--- new(host=nil, service) -> TCPServer
--- open(host=nil, service) -> TCPServer

新しいサーバー接続をオープンします。service は
/etc/services (または NIS) に登録されているサービ
ス名かポート番号で指定します。host を指定した時は
指定したホストに対しての接続だけを受け付けます。省略時は全てのホ
スト(インタフェース)への接続要求を受け付けることになります。

host に指定できる形式は[[ref:lib:socket#host_format]]を見てください。

@param host 接続したいホストを指定します。
            host に指定できる形式は[[ref:lib:socket#host_format]]を見てください。

@param service /etc/services (または NIS) に登録されているサービ
               ス名かポート番号で指定します。

