kind=defined
names=accept_nonblock
visibility=public

--- accept_nonblock

ソケットをノンブロッキングモードに設定した後、
[[man:accept(2)]] を呼び出します。

引数、返り値は [[m:UNIXServer#accept]] と同じです。

[[man:accept(2)]] がエラーになった場合、
EAGAIN, EINTR を含め例外 [[c:Errno::EXXX]] が発生します。

