kind=defined
names=listen
visibility=public

--- listen(backlog)

[[man:listen(2)]] を実行します。
([[m:Socket#listen]]と同じ)

backlog は、クライアントからの接続要求を保留できる数です。
UNIXServer のインスタンスは最初は backlog の値は 5 で生成されます。

[[man:listen(2)]] が成功すれば 0 を返します。
失敗すれば 例外 [[c:Errno::EXXX]] が発生します。

