kind=defined
names=pair,socketpair
visibility=public

--- pair([type[, protocol]])
--- socketpair([type[, protocol]])

相互に結合された UNIX ソケットのペアを含む2要素の配列を返します。
type が省略された場合、Socket::SOCK_STREAM が使われます。
protocol が省略された場合、0 が使われます。

