kind=defined
names=AF_APPLETALK,AF_ATM,AF_AX25,AF_CCITT,AF_CHAOS,AF_CNT,AF_COIP,AF_DATAKIT,AF_DEC,AF_DLI,AF_E164,AF_ECMA,AF_HYLINK,AF_IMPLINK,AF_INET,AF_INET6,AF_IPX,AF_ISDN,AF_ISO,AF_LAT,AF_LINK,AF_LOCAL,AF_MAX,AF_NATM,AF_NDRV,AF_NETBIOS,AF_NETGRAPH,AF_NS,AF_OSI,AF_PPP,AF_PUP,AF_ROUTE,AF_SIP,AF_SNA,AF_SYSTEM,AF_UNIX,AF_UNSPEC
visibility=public

--- AF_APPLETALK
--- AF_ATM
--- AF_AX25
--- AF_CCITT
--- AF_CHAOS
--- AF_CNT
--- AF_COIP
--- AF_DATAKIT
--- AF_DEC
--- AF_DLI
--- AF_E164
--- AF_ECMA
--- AF_HYLINK
--- AF_IMPLINK
--- AF_INET
--- AF_INET6
--- AF_IPX
--- AF_ISDN
--- AF_ISO
--- AF_LAT
--- AF_LINK
--- AF_LOCAL
--- AF_MAX
--- AF_NATM
--- AF_NDRV
--- AF_NETBIOS
--- AF_NETGRAPH
--- AF_NS
--- AF_OSI
--- AF_PPP
--- AF_PUP
--- AF_ROUTE
--- AF_SIP
--- AF_SNA
--- AF_SYSTEM
--- AF_UNIX
--- AF_UNSPEC

アドレスファミリー:
[[m:Socket.open]] の第一引数 domain に使用します。

