kind=defined
names=EAI_ADDRFAMILY,EAI_AGAIN,EAI_BADFLAGS,EAI_BADHINTS,EAI_FAIL,EAI_FAMILY,EAI_MAX,EAI_MEMORY,EAI_NODATA,EAI_NONAME,EAI_PROTOCOL,EAI_SERVICE,EAI_SOCKTYPE,EAI_SYSTEM
visibility=public

--- EAI_ADDRFAMILY
--- EAI_AGAIN
--- EAI_BADFLAGS
--- EAI_BADHINTS
--- EAI_FAIL
--- EAI_FAMILY
--- EAI_MAX
--- EAI_MEMORY
--- EAI_NODATA
--- EAI_NONAME
--- EAI_PROTOCOL
--- EAI_SERVICE
--- EAI_SOCKTYPE
--- EAI_SYSTEM

[[m:Socket.getaddrinfo]]が失敗したときに返すエラーコードです。
[[man:getaddrinfo(3)]]も参照して下さい。

