kind=defined
names=MSG_COMPAT,MSG_CTRUNC,MSG_DONTROUTE,MSG_DONTWAIT,MSG_EOF,MSG_EOR,MSG_FLUSH,MSG_HAVEMORE,MSG_HOLD,MSG_OOB,MSG_PEEK,MSG_RCVMORE,MSG_SEND,MSG_TRUNC,MSG_WAITALL
visibility=public

--- MSG_COMPAT
--- MSG_CTRUNC
--- MSG_DONTROUTE
--- MSG_DONTWAIT
--- MSG_EOF
--- MSG_EOR
--- MSG_FLUSH
--- MSG_HAVEMORE
--- MSG_HOLD
--- MSG_OOB
--- MSG_PEEK
--- MSG_RCVMORE
--- MSG_SEND
--- MSG_TRUNC
--- MSG_WAITALL


