kind=defined
names=SO_ACCEPTCONN,SO_ACCEPTFILTER,SO_ATTACH_FILTER,SO_BINDTODEVICE,SO_BROADCAST,SO_DEBUG,SO_DETACH_FILTER,SO_DONTROUTE,SO_DONTTRUNC,SO_ERROR,SO_KEEPALIVE,SO_LINGER,SO_NKE,SO_NOSIGPIPE,SO_NO_CHECK,SO_NREAD,SO_OOBINLINE,SO_PASSCRED,SO_PEERCRED,SO_PEERNAME,SO_PRIORITY,SO_RCVBUF,SO_RCVLOWAT,SO_RCVTIMEO,SO_REUSEADDR,SO_REUSEPORT,SO_SECURITY_AUTHENTICATION,SO_SECURITY_ENCRYPTION_NETWORK,SO_SECURITY_ENCRYPTION_TRANSPORT,SO_SNDBUF,SO_SNDLOWAT,SO_SNDTIMEO,SO_TIMESTAMP,SO_TYPE,SO_USELOOPBACK,SO_WANTMORE,SO_WANTOOBFLAG
visibility=public

--- SO_ACCEPTCONN
--- SO_ACCEPTFILTER
--- SO_ATTACH_FILTER
--- SO_BINDTODEVICE
--- SO_BROADCAST
--- SO_DEBUG
--- SO_DETACH_FILTER
--- SO_DONTROUTE
--- SO_DONTTRUNC
--- SO_ERROR
--- SO_KEEPALIVE
--- SO_LINGER
--- SO_NKE
--- SO_NOSIGPIPE
--- SO_NO_CHECK
--- SO_NREAD
--- SO_OOBINLINE
--- SO_PASSCRED
--- SO_PEERCRED
--- SO_PEERNAME
--- SO_PRIORITY
--- SO_RCVBUF
--- SO_RCVLOWAT
--- SO_RCVTIMEO
--- SO_REUSEADDR
--- SO_REUSEPORT
--- SO_SECURITY_AUTHENTICATION
--- SO_SECURITY_ENCRYPTION_NETWORK
--- SO_SECURITY_ENCRYPTION_TRANSPORT
--- SO_SNDBUF
--- SO_SNDLOWAT
--- SO_SNDTIMEO
--- SO_TIMESTAMP
--- SO_TYPE
--- SO_USELOOPBACK
--- SO_WANTMORE
--- SO_WANTOOBFLAG


