kind=defined
names=connect
visibility=public

--- connect(server_sockaddr)

[[man:connect(2)]] と同じ働きをします。server_sockaddr は、
[[ref:lib:socket#pack_string]]
です。

0 を返します。

たとえば IPv4 の TCP ソケットを生成し、connect で www.ruby-lang.org:80 に接続するには以下のようにします。

例:

  s = Socket.new(Socket::AF_INET, Socket::SOCK_STREAM, 0)
  sockaddr = Socket.sockaddr_in(80, "www.ruby-lang.org")
  s.connect(sockaddr)
  s.write "GET / HTTP/1.0\r\n\r\n"
  print s.read

