kind=defined
names=accept_loop,ip_address_list,tcp
visibility=public

--- accept_loop
--- ip_address_list
--- tcp(host, port, local_host=nil, local_port=nil) -> Socket
--- tcp(host, port, local_host=nil, local_port=nil) {|socket| ... } -> object
TCP/IP で host:port に接続するソケットオブジェクトを作成します。

local_host や local_port を指定した場合、ソケットをそこにバインドします。

@param host 接続先のホスト名
@param port 接続先のポート番号
@param local_host 接続元のホスト名
@param local_port 接続元のポート番号
@return ブロック付きで呼ばれた場合はブロックが返した値です。
        ブロックなしで呼ばれた場合はソケットオブジェクトを返します。

  Socket.tcp("www.ruby-lang.org", 80) {|sock|
    sock.print "GET / HTTP/1.0\r\nHost: www.ruby-lang.org\r\n\r\n"
    sock.close_write
    puts sock.read
  }
