kind=defined
names=gethostbyaddr
visibility=public

--- gethostbyaddr(host, type = Socket::AF_INET) -> Array

sockaddr 構造体をパックした文字列からホスト情報を返します。
ホスト情報の構造は [[m:Socket.gethostbyname]] と同じです。
type には、アドレスタイプ(デフォルトは
Socket::AF_INET)を指定します。

@param host ホストを文字列で指定します。

@param type アドレスタイプ(デフォルトはSocket::AF_INET)を指定します。

@raise SocketError [[man:gethostbyaddr(3)]] の呼び出しにエラーがあった場合に発生します。

