kind=defined
names=getservbyport
visibility=public

--- getservbyport(port, protocol_name="tcp") -> String
ポート番号に対応するサービスの正式名を返します。

@param port ポート番号
@param protocol_name "tcp" や "udp" などのプロトコル名
@return サービスの正式名

   Socket.getservbyport(80)         #=> "www"
   Socket.getservbyport(514, "tcp") #=> "shell"
   Socket.getservbyport(514, "udp") #=> "syslog"
