kind=defined
names=getservbyname
visibility=public

--- getservbyname(service, proto = "tcp") -> Fixnum

service, protoに対応するポート番号を返
します。protoの省略値は"tcp"です。

@param service サービス名を文字列で指定します。例えば、"ftp", "telnet" が相当します。
@param proto  プロトコル名を文字列で指定します。省略値は"tcp" です。

@return ポート番号を整数で返します。

